{% extends 'base.html' %}

{% block modalidade %} class="active" {% endblock %}

{% block container %}

    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        Modalidade
                    </li>
                </ul>
                <form class="form-horizontal" method="post" action="">
                    {% include 'form.html' %}
                    <div class="form-actions">
                        <button type="submit" class="btn bnt-primary">
                            Cadastrar
                        </button>
                    </div>
                </form>

                <p>Colacar um helptext explicando o que seria</p>

            </div>
        </div>
    </div>

{% endblock %}