{% extends 'base.html' %}

{% block servidor %} class="active" {% endblock %}

{% block container %}

    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        Servidor
                    </li>
                </ul>
                <form class="form-horizontal" method="post" action="">
                    {% include 'form.html' %}
                    <div class="form-actions">
                        <button type="submit" class="btn bnt-primary">
                            Cadastrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{# Colocar placeholder="Pesquisa" em todos os campos de preenchimento #}